@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

* {
    font-family: "Alan Sans", sans-serif;
}

@keyframes flip-heads {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(2520deg);
    }
}

@keyframes flip-tails {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(2340deg);
    }
}